{% extends 'base.html.twig' %}

{% block title %}Recap{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <h1 class="text-center">Recap periode</h1>
        <hr>
        <h3 class="text-center">{{liste[0].technicien.nom}} {{liste[0].technicien.prenom}}</h3>
        <table class="table">
            <thead>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                </tr>
        <!--Convertion date-->
          {% set trans_day_hash = { 
            "Monday": "Lundi", 
            "Tuesday": "Mardi", 
            "Wednesday": "Mercredi", 
            "Thursday": "Jeudi", 
            "Friday": "Vendredi", 
            "Saturday": "Samedi", 
            "Sunday": "Dimanche" 
        } 
      %}
            </thead>
            <tbody>
                {% for inter in liste %}
                <tr>
                    <td> <a href="{{path('edit_inter', {id:inter.id})}}" class="text-decoration-none text-secondary">{{ trans_day_hash[inter.date|date('l')] }} {{inter.date|date('j-m-Y')}}</a> 
                        {% if inter.anomalie is not null %}
                        <i class="fas fa-exclamation-triangle text-danger"></i>
                        {% endif %}</td>
                    <td class="text-end">{{(inter.salaire)|number_format(0, ',', ' ')}}€</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <a href="{{path('app_recap')}}" class="btn btn-secondary w-100 mt-1"  title="Retour">Retour</a>

    </div>
</div>
<div class="mb-footer"></div>
{% endblock %}