{% extends 'base.html.twig' %}

{% block title %}Recap{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <h1 class="text-center">Recap periode</h1>
        <h5 class="text-center">Entre : {{date_debut}} et {{date_fin}}</h5>
        <hr>
        <div class="dropdown mb-1">
            <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{tech.prenom}} {{tech.nom}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                {% for tech in tech_list %}
                <li><a class="dropdown-item" href="{{path('app_recap_user', {id:tech.id})}}">{{tech.prenom}} {{tech.nom}}</a></li>
                    
                {% endfor %}
            </ul>
        </div>
        <div class="text-center mb-2">
            <select class="form-select" id="mois" aria-label="Mois" onchange="submitPeriod()">
              {% for mois in mois_list %}
              <option {{ loop.index == periode ? 'selected' : '' }} value="{{loop.index}}">{{mois}}</option>            
              {% endfor %}
            </select>
        </div>
        {% if liste == null %}
        <div class="alert alert-warning text-center">Aucune inter</div>
        {% endif %}
        <table class="table">
            <thead>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                </tr>
                <!--Convertion date-->
                {% set trans_day_hash = {
                "Monday": "Lundi",
                "Tuesday": "Mardi",
                "Wednesday": "Mercredi",
                "Thursday": "Jeudi",
                "Friday": "Vendredi",
                "Saturday": "Samedi",
                "Sunday": "Dimanche"
                }
                %}
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for inter in liste %}
                <tr>
                    <td> <a href="{{path('edit_inter', {id:inter.id})}}" class="text-decoration-none text-secondary">{{
                            trans_day_hash[inter.date|date('l')] }} {{inter.date|date('j-m-Y')}}</a>
                        {% if inter.anomalie is not null %}
                        <i class="fas fa-exclamation-triangle text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="text-end">{{(inter.salaire)|number_format(0, ',', ' ')}}€</td>
                </tr>
                {% set total = total + inter.salaire %}
                {% endfor %}
                <tr class="table-info">
                    <td>Total salaire (nbre : {{liste|length}})</td>
                    <td class="text-end">{{total|number_format(0, ',',' ')}} €</td>
                </tr>
            </tbody>
        </table>
        <a type="button" onclick="history.go(-1)" class="btn btn-secondary w-100 mt-1" title="Retour">Retour</a>
        <a type="button" href="{{path('inter_periode_tech', {id:tech.id})}}?mois={{periode}}" class="btn btn-success w-100 mt-1" title="Retour">Editer</a>


    </div>
</div>
<div class="mb-footer"></div>
<div id="path" data-path="{{path('app_recap_user', {id:tech.id})}}"></div>

{% endblock %}
{% block javascripts %}
<script src="{{asset ('assets/js/other.js')}}"></script>
{% endblock %}