<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset ('assets/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/tiny-slider.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/aos.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/glightbox.min.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/bootsrap.min.css')}}">
    <link rel="stylesheet" href="{{asset ('assets/css/bootstrap-toggle.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <title>Sltek</title>

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body data-bs-spy="scroll" data-bs-target="#site-navbar-target" data-bs-offset="100">


    <div class="margin-nav">
            {# Afficher les messages flash #}

    {% for label, messages in app.flashes %}
    <div class="text-center alert alert-{{ label }}">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}
        {% block body %}{% endblock %}
    </div>


    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script src="{{asset ('assets/js/jquery-2.1.1.min.js')}}"></script>
    <script src="{{asset ('assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset ('assets/js/tiny-slider.js')}}"></script>
    <script src="{{asset ('assets/js/aos.js')}}"></script>
    <script src="{{asset ('assets/js/navbar.js')}}"></script>
    <script src="{{asset ('assets/js/page-scroll.js')}}"></script>
    <script src="{{asset ('assets/js/counter.js')}}"></script>
    <script src="{{asset ('assets/js/glightbox.min.js')}}"></script>
    <script src="{{asset ('assets/js/custom.js')}}"></script>
    <script src="{{asset ('assets/js/bootstrap-toggle.min.js')}}"></script>
</body>

</html>