{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <h1 class="text-center">Toutes les Factures <a href="{{path('change_year')}}" class="text-decoration-none text-dark">{{year}}</a></h1>
        <hr>
        <div class="text-center mb-2">
            <select class="form-select" id="mois" aria-label="Mois" onchange="submitPeriod()">
                {% for mois in mois_list %}
                <option {{ loop.index == periode ? 'selected' : '' }} value="{{loop.index}}">{{mois}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            {% set periode_encaissement = periode + 2 %}
            {% if periode_encaissement > 12 %}
            {% set periode_encaissement = periode_encaissement - 12 %}
                
            {% endif %}
            <p class="alert alert-success text-center">Encaissement : {{mois_list[(periode_encaissement-1)] }} </p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Technicien</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for facture in facture_liste %}
                <tr>
                    <td> {{facture.nom}} {{facture.prenom}}</td>
                    <td class="text-end">{{facture.nombre}}</td>
                </tr>
                {% set total = total + facture.nombre %}
                {% endfor %}
                <tr class="table-info">
                    <td>Nombre interventions</td>
                    <td class="text-end">{{total}}</td>
                </tr>
                <tr class="table-warning">
                    <td>Montant</td>
                    <td class="text-end">{{(total * 130)|number_format(0,',',' ')}} €</td>
                </tr>
                <tr class="table-secondary">
                    <td>TVA 20%</td>
                    <td class="text-end">{{((total * 130)* 20 / 100)|number_format(0,',',' ')}} €</td>
                </tr>
                <tr class="table-success">
                    <td>Total à facturer</td>
                    <td class="text-end">{{((total * 130) * 120 / 100)|number_format(0,',',' ')}} €</td>
                </tr>
                <tr class="table-danger">
                    <td><a href="{{path('app_recap')}}?mois={{periode_charge}}" class="text-decoration-none text-dark">Salaire periode ({{mois_list[(periode_charge - 1)]}} {{annee_charge}}) :</a></td>
                    <td class="text-end">{{(total_salaire)|number_format(0,',',' ')}} €</td>
                </tr>
                <tr class="table-primary">
                    <td>Résultat période : </td>
                    <td class="text-end">{{((total * 130) - total_salaire)|number_format(0,',',' ')}} €</td>
                </tr>
            </tbody>
        </table>
        <a href="{{path('app_menu')}}" class="btn btn-secondary w-100 mt-1" title="Retour">Retour</a>

    </div>
</div>
<div class="mb-footer"></div>
<div id="path" data-path="{{path('app_facture_all')}}"></div>

{% endblock %}

{% block javascripts %}
<script src="{{asset ('assets/js/other.js')}}"></script>
{% endblock %}